<html lang="zh_CN">
<head>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="robots" content="NONE,NOARCHIVE">
    <title>playbook</title>
    <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" id="site-theme" href="/static/xadmin/css/themes/bootstrap-xadmin.css">
    <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.main.frame.css" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.form.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet">



    <!--bootstrap/表格-->
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap-table.css">
    <link rel="stylesheet" href="/static/js/bootstrap/css/table.css">




</head>

<body class="change-list">
<div id="body-content" class="clearfix row" style="margin-top: 15px;">
    <div id="content-block" class="col-sm-12 col-md-12 main-content" style="padding-left: 15px">
<!--足迹导航-->
        <ul class="breadcrumb">
            <li>playbook</li>
        </ul>


           <form  role="form" style="margin:0;display:block">
               <div class="form-group form-group-xs col-xs-12" >
                   <div class="col-md-12">
                       <div class="control-label col-lg-1 col-md-1 col-sm-1 col-xs-2 " style="margin-top:5px;padding:0;height: 34px">
                            <label title="名称" style="font-size:13px;float: right;padding-top:20px;margin-bottom:20px;" for="name">
                                名称
                             </label>
                       </div>
                       <div class="col-lg-2 col-md-2 col-sm-5 col-xs-10" style="margin-top:20px;margin-bottom:20px;height: 34px">
                              <span class="block input-icon input-icon-right">
                                  <input type="text" class="form-control" placeholder="请输入playbook名称" id="search_Name">
                              </span>
                       </div>


                        <div class="control-label col-lg-1 col-md-1 col-sm-1 col-xs-2 " style="margin-top:5px;padding:0;height: 34px">
                            <label title="创建人" style="font-size:13px;float: right;padding-top:20px;margin-bottom:20px;" for="name">
                                创建人:
                             </label>
                       </div>
                       <div class="col-lg-2 col-md-2 col-sm-5 col-xs-10" style="margin-top:20px;margin-bottom:20px;height: 34px">
                              <span class="block input-icon input-icon-right">
                                  <input type="text" class="form-control" placeholder="请输入创建人" id="search_userName">
                              </span>
                       </div>

                   </div>
               </div>
           </form>
                <div  style="margin-top: 15px;text-align: center">
                      <div>
                          <button type="button" class="btn btn-primary" style="margin-top:20px;width: 80px;" onclick="search();">查询</button>
                          <button type="button" class="btn btn-warning" style="margin-top:20px;margin-left:20px;width: 80px;"  onclick="searchReset();">重置</button>

                      </div>
                </div>

 <!--标题栏-->
        <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
             data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
             data-class-sm="navbar content-navbar navbar-default navbar-xs">
            <div class="navbar-header">
                <a href="/static/templates/pages/app_tower_pages/playbook/playbook_create.html" class="navbar-toggle pull-right"><i
                        class="fa fa-plus"></i></a>
                <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
                    <i class="fa fa-cog"></i> playbook
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>

                <div class="navbar-btn navbar-right hide-xs">
                    <a href="/static/templates/pages/app_tower_pages/playbook/playbook_create.html" class="btn btn-primary"><i
                            class="fa fa-plus"></i>
                        创建playbook</a>



                </div>
            </div>
        </div>



<!--表/表单-->
        <form id="changelist-form" action="" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="gE3YzdP0TGKtm63NS3jQFTHj1BSKfOWB">
            <div class="results table-responsive">

                  <table id="playbook_table" ></table>

            </div>
<!--底部表单操作栏-->

        </form>
    </div>
</div>



<div class="modal fade" id="deletePlaybookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel" title="删除playbook记录">删除playbook记录</h4>
            </div>
            <div class="modal-body">
          <input type="text" style="margin-left:35px;height:25px"  id="delete_id"  hidden>
         <div class="profile-user-info profile-user-info-striped">

        <div class="profile-info-row">
            <div class="profile-info-name" title="playbook名称">playbook名称</div>
            <div class="profile-info-value">
                <span class="editable" id="deleteName"></span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name" title="描述">描述</div>
            <div class="profile-info-value">
                <span class="editable" id="deleteDescription"></span>
            </div>
        </div>
         <div class="profile-info-row">
             <div class="profile-info-name" title="使用授权">使用授权</div>
             <div class="profile-info-value">
                 <span class="editable" id="deleteOwner">仅自己</span>

             </div>
         </div>
             <div class="profile-info-row">
                 <div class="profile-info-name" title="存放目录">存放目录</div>
                 <div class="profile-info-value">
                     <span class="editable" id="deleteDir"></span>
                 </div>
             </div>
         <div class="profile-info-row">
            <div class="profile-info-name" title="内容">内容</div>
            <div class="profile-info-value">
                <a href="javascript:void(0);" onclick="showPlaybookReviewModal()" >预览</a>
            </div>
        </div>

    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="deletePlaybook()" class="btn btn-primary" data-dismiss="modal">确定删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--预览模态框-->
<div class="modal fade" id="reviewPlaybookModal">
    <div class="modal-dialog" style="width:650px">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" title="预览">预览</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" disabled wrap="off" style="border-style:none;overflow:scroll;" rows="20" ng-model="ansible_log" ng-show="ansible_log" id="reviewTextarea"></textarea>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>


                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--修改模态框-->
<div class="modal fade" id="updatePlaybookModal">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" title="主机组修改">playbook修改</h4>
            </div>
            <div class="modal-body">
                <form id="update_playbook_form">
                    <input type="text" style="margin-left:35px;height:25px"  id="updatePlaybook_id"  hidden>
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name" title="playbook名称">playbook名称</div>
                            <div class="profile-info-value">
                                <input type="text" id="updatePlaybook_name" name="name"/>
                            </div>

                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name" title="描述">描述</div>
                            <div class="profile-info-value">
                                <input type="text" id="updatePlaybook_description" name="agree"/>
                            </div>

                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" title="使用授权">使用授权</div>
                            <div class="profile-info-value">

                                <select id="updatePlaybook_owner" style="height: 26px;width: 174px;margin-left: 0px">
                                    <option value="onlyOne" selected>仅自己</option>
                                    <option value="all">所有人</option>

                                </select>
                            </div>

                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" title="描述">存放目录</div>
                            <div class="profile-info-value">
                                <input type="text" id="updatePlaybook_dir" />
                            </div>

                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" title="内容">内容</div>
                            <div class="profile-info-value">

                                <a href="javascript:void(0);" onclick="editContent()" >编辑内容</a>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type = "button" data-dismiss="modal" onclick="updatePlaybook()" class="btn btn-success" >确定</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<!--编辑模态框-->
<div class="modal fade" id="editPlaybookModal">
    <div class="modal-dialog" style="width:650px">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" title="预览">编辑</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control"  wrap="off" style="border-style:none;overflow:scroll;" rows="20" ng-model="ansible_log" ng-show="ansible_log" id="editTextarea"></textarea>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>


                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





    <script type="text/javascript" src="/static/xadmin/vendor/jquery/jquery.js"></script>
    <script src="/static/js/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/javascript/bootbox.js" type="text/javascript"></script>

    <script src="/static/javascript/bootstrap-table.js"></script>
    <script src="/static/javascript/bootstrap-table-zh-CN.js"></script>
    <script src="/static/javascript/jquery.validate.js"></script>
    <script src="/static/javascript/common.js"></script>
    <script type="text/javascript" src="/static/javascript/js/app_tower_js/playbook/playbook.js"></script>


</body></html>

