<html lang="zh_CN"><head>

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="robots" content="NONE,NOARCHIVE">
  <title>用户设置列表 | DjangoX</title>
  <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet">

  <link rel="stylesheet" type="text/css" id="site-theme" href="/static/xadmin/css/themes/bootstrap-xadmin.css">

  <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet">

        <link href="/static/xadmin/css/xadmin.main.frame.css" rel="stylesheet">

  <link href="/static/xadmin/css/xadmin.form.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet">

<style type="text/css">
  .btn-toolbar{margin-top: 0;}
  #content-block.full-content{margin-left: 0;}
</style>

  <script type="text/javascript" src="/static/xadmin/vendor/jquery/jquery.js"></script>

  <script type="text/javascript">
    window.__admin_media_prefix__ = "/static/xadmin/";
    window.__admin_path_prefix__ = "/xadmin/";
  </script>

    <script type="text/javascript" src="/static/xadmin/js/site_config.js"></script>

  <script type="text/javascript" src="/xadmin/jsi18n/"></script>


</head>
<body class="change-list">

    <!-- Header -->


  <div id="body-content" class="clearfix row" style="margin-top: 15px;">



    <div id="content-block" class="col-sm-12 col-md-12 main-content" style="padding-left: 15px">

      <ul class="breadcrumb">


		      <li>
                <a href="/static/templates/pages/jobTemplate.html">任务模板</a>
            </li>

            <li>
                查看任务运行情况

            </li>


      </ul>

        <div class="col-md-6" style="height:250px;margin-right: 10px;border-right: solid 1px #000;text-align: center">运行结果</div>
        <div class="col-md-5"style="height:250px;margin-left: 10px;text-align: center">运行日志</div>





  </form>



    </div>
  </div>


  <br>
  <br>



  <script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.main.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.responsive.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.effect.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.themes.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.details.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.filters.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.actions.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.page.list.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.page.form.js"></script>




</body></html>